/* General css */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
 font-family: "Inter", sans-serif;;
}


/* cards */
.cards {
  max-width: 90%;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  margin: 0 auto;
  gap: 1.6rem;
}
.card {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.card__supervisor {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  border-top: 4px solid hsl(180, 62%, 55%);
}
.card__builder {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  border-top: 4px solid hsl(0, 78%, 62%);
}
.card__karma {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  grid-column-start: 4;
  border-top: 4px solid hsl(34, 97%, 64%);
}
.card__calculator {
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 2;
  border-top: 4px solid hsl(212, 86%, 64%);
}
.card__icon {
  align-self: flex-end;
}

.card__img {
  align-self: flex-end;
}
.card__paragraph {
  /* color: #b6b7b9; */
}

/* @media (max-width: 600px) {
  .card {
    width: 374px;
    margin: 0 auto;
  }
}
@media (min-width: 720px) {
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .container {
    padding-block: 9.1rem;
  }
} */
